
    body {
      font-family: Georgia, serif;
      background-color: #f9f9f9;
      padding: 30px;
    }

    .definition-box {
      background-color: #f3f3f3;
      padding: 20px;
      max-width: 700px;
      margin: auto;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    h1 {
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 5px;
    }

    .pronunciation {
      font-style: italic;
      color: #666;
      margin-bottom: 15px;
    }

    dt {
      font-style: italic;
      font-weight: bold;
      color: #444;
      margin-top: 20px;
    }

    dd {
      margin-left: 20px;
      margin-bottom: 15px;
    }

    ol {
      padding-left: 20px;
    }

    li {
      margin-bottom: 10px;
    }

    .example {
      font-style: italic;
      display: block;
      color: #444;
      margin-top: 5px;
    }

    .synonyms {
      color:royalblue;
      font-size: 14px;
      margin-top: 5px;
    }

    .synonyms b {
      font-weight: normal;
      color: #333;
    }

    .highlight {
      font-weight: bold;
      font-style: italic;
    }
